/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Parameters and resource limits for nf-test runs
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/admixpipe/'
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
